/* Blocks */

.album-grid-columns {
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.album-grid-item {
    margin-bottom: 10px;
}

.album-image {
    width: 250px;
}

.album-title {
    font-size: 1.25rem;
}

/* Media Queries */

@media screen and (max-width: 850px) {
    .album-grid-columns {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .album-grid-columns {
        grid-template-columns: 1fr;
    }
}