h1,
p,
sup {
  font-weight: lighter;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  max-width: 500px;
  margin: 50px;
}

header {
  display: flex;
  align-items: center;
  gap: 25px;
}
header img {
  width: 100px;
  border-radius: 50%;
}
header h1 {
  margin: 0;
}

@media only screen and (max-width: 450px) {
  article {
    max-width: 500px;
    margin: 25px;
  }
  header {
    justify-content: center;
    gap: 15px;
  }
  header img {
    width: 50px;
  }
}
@media only screen and (max-width: 400px) {
  article {
    max-width: 500px;
    margin: 10px;
  }
  header img {
    display: none;
  }
}
