<figure class="game-modal-table">
    <table>
        <thead>
            <tr>
                <th>Shottype</th>
                <th>Easy</th>
                <th>Normal</th>
                <th>Hard</th>
                <th>Lunatic</th>
                <th>Extra</th>
                <th ng-if="gameName == 'PCB'">Phantasm</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="character in characters">
                <td>{{ character.name }}</td>
                <td>{{ character.easy }}</td>
                <td>{{ character.normal }}</td>
                <td>{{ character.hard }}</td>
                <td>{{ character.lunatic }}</td>
                <td>{{ character.extra }}</td>
                <td ng-if="gameName == 'PCB'">{{ character.phantasm }}</td>
            </tr>
        </tbody>
    </table>
</figure>