<div class="completion-grid">
    <img src="media/game-images/TH06.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH06')">
    <img src="media/game-images/TH07.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH07')">
    <img src="media/game-images/TH08.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH08')">
    <img src="media/game-images/TH09.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH09')">
    <img src="media/game-images/TH10.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH10')">
    <img src="media/game-images/TH11.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH11')">
    <img src="media/game-images/TH12.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH12')">
    <img src="media/game-images/TH13.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH13')">
    <img src="media/game-images/TH14.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH14')">
    <img src="media/game-images/TH15.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH15')">
    <img src="media/game-images/TH16.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH16')">
    <img src="media/game-images/TH17.jpg" class="completion-grid-image" ng-click="getCompletionModalDataAndOpenCompletionModal('TH17')">
    <img src="media/game-images/TH18.jpg" class="completion-grid-image grid-column-two" ng-click="getCompletionModalDataAndOpenCompletionModal('TH18')">
    <img src="media/game-images/TH19.jpg" class="completion-grid-image grid-column-three" ng-click="getCompletionModalDataAndOpenCompletionModal('TH19')">
</div>
