<div class="game-image-grid">
    <img src="images/game-images/Th06cover.jpg" class="grid-image" ng-click="displayModal('EoSD')">
    <img src="images/game-images/Th07cover.jpg" class="grid-image" ng-click="displayModal('PCB')">
    <img src="images/game-images/Th08cover.jpg" class="grid-image" ng-click="displayModal('IN')">
    <img src="images/game-images/Th09cover.jpg" class="grid-image" ng-click="displayModal('PoFV')">
    <img src="images/game-images/Th10cover.jpg" class="grid-image" ng-click="displayModal('MoF')">
    <img src="images/game-images/Th11cover.jpg" class="grid-image" ng-click="displayModal('SA')">
    <img src="images/game-images/Th12cover.jpg" class="grid-image" ng-click="displayModal('UFO')">
    <img src="images/game-images/Th13cover.jpg" class="grid-image" ng-click="displayModal('TD')">
    <img src="images/game-images/Th14cover.jpg" class="grid-image" ng-click="displayModal('DDC')">
    <img src="images/game-images/Th15cover.jpg" class="grid-image" ng-click="displayModal('LoLK')">
    <img src="images/game-images/Th16cover.jpg" class="grid-image" ng-click="displayModal('HSiFS')">
    <img src="images/game-images/Th17cover.jpg" class="grid-image" ng-click="displayModal('WBaWC')">
    <img src="images/game-images/Th18cover.jpg" class="grid-image grid-column-two" ng-click="displayModal('UM')">
    <img src="images/game-images/Th19cover.jpg" class="grid-image grid-column-three" ng-click="displayModal('UDoALG')">
</div>