body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(110, 45%, 80%);
    background-image: url("../media/koishiwallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Open Sans";
}